.attendance-list__content{
    width: 100%;
    background: rgb(231, 231, 231);
    padding: 50px 0 200px 0;
    margin: 0 auto;
    text-align: center;
}
.attendance-list__text{
    width: 70%;
    margin: 0 auto;
    padding: 8px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-left: 6px solid black;
}
.attendance-list__table{
    width: 100%;
    padding: 20px;
}
.month-nav__group{
    display: flex;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background: white;
    justify-content: space-between;
}
.month-nav{
    text-decoration: none;
    color: rgb(86, 86, 86);
    letter-spacing: 1px;
}
.table-wrapper{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
}
.attendance-list{
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 2px;
}
.attendance-list__group{
    width: 100%;
    margin: 10px;
    background: green;
}
.attendance-list__title{
    background: white;
    color: rgb(86, 86, 86);
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 10px 5px 0;
    margin: 10px;
}
.attendance-list__detail{
    background: white;
    color: rgb(86, 86, 86);
    padding: 5px 10px 5px 0;
    margin: 10px;
    border-top: 1px solid rgb(231, 231, 231);
    letter-spacing: 1px;
}
.attendance-list__detail-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}