.attendance-list__text{
    width: 70%;
    margin: 0 auto;
    padding: 8px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-left: 6px solid black;
}
.tabs{
    text-align: left;
    width: 70%;
    margin: 30px auto;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.tab{
    text-decoration: none;
    margin: 20px;
    color: black
}
.active{
    font-weight: bold;
}
.attendance-list__content{
    width: 100%;
    background: rgb(231, 231, 231);
    padding: 10px 0 200px 0;
    margin: 0 auto;
    text-align: center;
}
.attendance-list__text{
    width: 70%;
    margin: 0 auto;
    padding: 8px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-left: 6px solid black;
}
.attendance-list__table{
    width: 100%;
    padding: 20px;
}
.table-wrapper{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
}
.attendance-list{
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 2px;
}
.attendance-list__group{
    width: 100%;
    margin: 10px;
}
.attendance-list__title{
    background: white;
    color: rgb(86, 86, 86);
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 10px 5px 0;
    margin: 10px;
}
.attendance-list__detail{
    background: white;
    color: rgb(86, 86, 86);
    padding: 5px 10px 5px 0;
    margin: 10px;
    border-top: 1px solid rgb(231, 231, 231);
    letter-spacing: 1px;
}
.attendance-list__detail-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}